<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>УралСтрой-ЖБИ</title>
  <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png" data-mce-href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons//apple-touch-icon-60x60.png" data-mce-href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons//apple-touch-icon-72x72.png" data-mce-href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons//apple-touch-icon-76x76.png" data-mce-href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons//apple-touch-icon-114x114.png" data-mce-href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons//apple-touch-icon-120x120.png" data-mce-href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons//apple-touch-icon-144x144.png" data-mce-href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons//apple-touch-icon-152x152.png" data-mce-href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons//apple-touch-icon-180x180.png" data-mce-href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="../img/favicons//favicon-32x32.png" sizes="32x32" data-mce-href="/favicon-32x32.png">
  <link rel="icon" type="image/png" href="../img/favicons//android-chrome-192x192.png" sizes="192x192" data-mce-href="/android-chrome-192x192.png">
  <link rel="icon" type="image/png" href="../img/favicons//favicon-96x96.png" sizes="96x96" data-mce-href="/favicon-96x96.png">
  <link rel="icon" type="image/png" href="../img/favicons//favicon-16x16.png" sizes="16x16" data-mce-href="/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="../img/favicons//mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
//= "../blocks/header/header.html"
<main>
  <section class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="index.html">Главная</a></li>
      <li class="breadcrumbs__item">Каталог</li>
    </ul>
  </section>
  <div class="catalog section">
    <h1 class="catalog__title section__title title title--section">Каталог продукции</h1>
    <div class="catalog__search search">
      <p class="search__title">Быстрый поиск</p>
      <form action="#" class="search__form">
        <label class="search__label">
          <input type="search" class="search__input" placeholder="Введите название">
          <button class="search__button" type="submit"></button>
        </label>
      </form>
    </div>
    <ul class="catalog__list">
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__01.png" class="catalog__img">
          <p class="catalog__name">Блоки фундаментальные ФБС</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__02.png" class="catalog__img">
          <p class="catalog__name">Бордюры</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__03.png" class="catalog__img">
          <p class="catalog__name">Кирпичи</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__04.png" class="catalog__img">
          <p class="catalog__name">Кольца колодезные</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__05.png" class="catalog__img">
          <p class="catalog__name">Лотки теплотрасс</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__06.png" class="catalog__img">
          <p class="catalog__name">Опорные подушки</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__07.png" class="catalog__img">
          <p class="catalog__name">Панели ограждений и фундамент</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__08.png" class="catalog__img">
          <p class="catalog__name">Перемычки жб брусковые плитные</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__09.png" class="catalog__img">
          <p class="catalog__name">Перемычки ячеистые керамзитобетонные</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__10.png" class="catalog__img">
          <p class="catalog__name">Плиты днище колодца</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__11.png" class="catalog__img">
          <p class="catalog__name">Плиты дорожные</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__12.png" class="catalog__img">
          <p class="catalog__name">Плиты перекрытия камер</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__13.png" class="catalog__img">
          <p class="catalog__name">Плиты перекрытия колодцев</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__14.png" class="catalog__img">
          <p class="catalog__name">Плиты перекрытия ПБ и ПК</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__15.png" class="catalog__img">
          <p class="catalog__name">Плиты перекрытия теплотрасс</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__16.png" class="catalog__img">
          <p class="catalog__name">Приставки для деревянных опор</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__17.png" class="catalog__img">
          <p class="catalog__name">Сваи обществроительные</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__18.png" class="catalog__img">
          <p class="catalog__name">Стойки СВ</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__19.png" class="catalog__img">
          <p class="catalog__name">Ступени</p>
        </a>
      </li>
      <li class="catalog__item">
        <a href="category.html">
          <img src="../img/cats__20.png" class="catalog__img">
          <p class="catalog__name">Твинблок</p>
        </a>
      </li>
    </ul>
  </div>
  //= "../blocks/callback/callback.html"
</main>
//= "../blocks/footer/footer.html"
//= "../blocks/modal/modal.html"
<script src="js/libs.js"></script>
<script src="js/general.js"></script>
</body>
</html>
