<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>УралСтрой-ЖБИ</title>
  <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png" data-mce-href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons//apple-touch-icon-60x60.png" data-mce-href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons//apple-touch-icon-72x72.png" data-mce-href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons//apple-touch-icon-76x76.png" data-mce-href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons//apple-touch-icon-114x114.png" data-mce-href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons//apple-touch-icon-120x120.png" data-mce-href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons//apple-touch-icon-144x144.png" data-mce-href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons//apple-touch-icon-152x152.png" data-mce-href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons//apple-touch-icon-180x180.png" data-mce-href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="../img/favicons//favicon-32x32.png" sizes="32x32" data-mce-href="/favicon-32x32.png">
  <link rel="icon" type="image/png" href="../img/favicons//android-chrome-192x192.png" sizes="192x192" data-mce-href="/android-chrome-192x192.png">
  <link rel="icon" type="image/png" href="../img/favicons//favicon-96x96.png" sizes="96x96" data-mce-href="/favicon-96x96.png">
  <link rel="icon" type="image/png" href="../img/favicons//favicon-16x16.png" sizes="16x16" data-mce-href="/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="../img/favicons//mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
//= "../blocks/header/header.html"
<main>
  <section class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="index.html">Главная</a></li>
      <li class="breadcrumbs__item">Контакты</li>
    </ul>
  </section>
  <section class="about section">
    <aside class="about__sidebar">
      <p class="about__header about__header--mobile">Контакты</p>
      <div class="about__menu-wrapper">
        <p class="about__header about__header--active about__header--company">Контакты</p>
        <ul class="about__menu about__menu--company">
          <li class="about__menu-item "><a href="about.html">О компании</a></li>
          <li class="about__menu-item"><a href="reviews.html">Отзывы и благодарности</a></li>
          <li class="about__menu-item"><a href="jobs.html">Вакансии</a></li>
          <li class="about__menu-item"><a href="javascript://">Сертификаты</a></li>
          <li class="about__menu-item"><a href="requisites.html">Реквизиты</a></li>
          <li class="about__menu-item about__menu-item--active"><a href="contacts.html">Контакты</a></li>
        </ul>
        <p class="about__header about__header--active about__header--clients">Клиентам</p>
        <ul class="about__menu about__menu--clients">
          <li class="about__menu-item"><a href="javascript://">Оплата и доставка</a></li>
          <li class="about__menu-item"><a href="javascript://">Вопросы и ответы</a></li>
        </ul>
      </div>
    </aside>
    <div class="about__content">
      <div class="contacts">
        <h1 class="contacts__title section__title title title--section">Контакты</h1>
        <div class="contacts__inner">
          <div class="contacts__map">
            <div id="map" style="width:100%; height:310px;"></div>
          </div>
          <ul class="contacts__list">
            <li class="contacts__item">
              <div class="contacts__icon">
                <svg>
                  <use xlink:href="img/sprites/sprite.svg#icon__phone" ></use>
                </svg>
              </div>
              <div class="contacts__body">
                <span class="contacts__header">Телефон</span>
                <a href="" class="contacts__text">+7 (343) 343-34-32</a>
              </div>
            </li>
            <li class="contacts__item">
              <div class="contacts__icon">
                <svg>
                  <use xlink:href="img/sprites/sprite.svg#icon__mail" ></use>
                </svg>
              </div>
              <div class="contacts__body">
                <span class="contacts__header">Электронная почта</span>
                <a href="" class="contacts__text">inso@zavod.ru</a>
              </div>
            </li>
            <li class="contacts__item">
              <div class="contacts__icon">
                <svg>
                  <use xlink:href="img/sprites/sprite.svg#icon__pin" ></use>
                </svg>
              </div>
              <div class="contacts__body">
                <span class="contacts__header">Адрес завода</span>
                <p class="contacts__text">г. Екатеринбург, ул. Базовый 45</p>
              </div>
            </li>
          </ul>
        </div>
        <h2 class="contacts__title section__title title title--section">Написать нам</h2>
        <form action="" class="contacts__form">
          <div class="contacts__row">
            <input type="text" class="contacts__input" placeholder="Ваше имя*">
            <input type="text" class="contacts__input" placeholder="Телефон*">
          </div>
          <div class="contacts__row">
            <input type="text" class="contacts__input" placeholder="Электронная почта">
            <input type="text" class="contacts__input" placeholder="Тема обращения">
          </div>
          <textarea name="" id="" cols="30" rows="10" class="contacts__textarea" placeholder="Ваше сообшение"></textarea>
          <div class="contacts__bottom">
            <button class="contacts__submit button button--blue">
              <span>Отправить сообщение</span>
              <div class="contacts__arrow">
                <svg>
                  <use xlink:href="img/sprites/sprite.svg#icon__submit"></use>
                </svg>
              </div>
            </button>
            <p class="contacts__politic">Нажимая кнопку “Отправить”, я даю согласие
              на обработку моих <a href="">персональных данных</a></p>
          </div>
        </form>
      </div>
    </div>
  </section>
  //= "../blocks/callback/callback.html"
</main>
//= "../blocks/footer/footer.html"
<script src="js/libs.js"></script>
<script src="//api-maps.yandex.ru/2.0/?load=package.standard,package.geoObjects&lang=ru-RU" type="text/javascript"></script>
<script src="js/general.js"></script>
</body>
</html>
