<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>УралСтрой-ЖБИ</title>
  <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png" data-mce-href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons//apple-touch-icon-60x60.png" data-mce-href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons//apple-touch-icon-72x72.png" data-mce-href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons//apple-touch-icon-76x76.png" data-mce-href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons//apple-touch-icon-114x114.png" data-mce-href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons//apple-touch-icon-120x120.png" data-mce-href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons//apple-touch-icon-144x144.png" data-mce-href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons//apple-touch-icon-152x152.png" data-mce-href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons//apple-touch-icon-180x180.png" data-mce-href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="../img/favicons//favicon-32x32.png" sizes="32x32" data-mce-href="/favicon-32x32.png">
  <link rel="icon" type="image/png" href="../img/favicons//android-chrome-192x192.png" sizes="192x192" data-mce-href="/android-chrome-192x192.png">
  <link rel="icon" type="image/png" href="../img/favicons//favicon-96x96.png" sizes="96x96" data-mce-href="/favicon-96x96.png">
  <link rel="icon" type="image/png" href="../img/favicons//favicon-16x16.png" sizes="16x16" data-mce-href="/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="../img/favicons//mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
//= "../blocks/header/header.html"
<main>
  <section class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="index.html">Главная</a></li>
      <li class="breadcrumbs__item">Вакансии</li>
    </ul>
  </section>
  <section class="about section">
    <aside class="about__sidebar">
      <p class="about__header about__header--mobile">Вакансии</p>
      <div class="about__menu-wrapper">
        <p class="about__header about__header--active about__header--company">Контакты</p>
        <ul class="about__menu about__menu--company">
          <li class="about__menu-item "><a href="about.html">О компании</a></li>
          <li class="about__menu-item"><a href="reviews.html">Отзывы и благодарности</a></li>
          <li class="about__menu-item about__menu-item--active"><a href="jobs.html">Вакансии</a></li>
          <li class="about__menu-item"><a href="javascript://">Сертификаты</a></li>
          <li class="about__menu-item"><a href="requisites.html">Реквизиты</a></li>
          <li class="about__menu-item "><a href="contacts.html">Контакты</a></li>
        </ul>
        <p class="about__header about__header--active about__header--clients">Клиентам</p>
        <ul class="about__menu about__menu--clients">
          <li class="about__menu-item"><a href="javascript://">Оплата и доставка</a></li>
          <li class="about__menu-item"><a href="javascript://">Вопросы и ответы</a></li>
        </ul>
      </div>
    </aside>
    <div class="about__content">
      <div class="jobs">
        <h1 class="jobs__title section__title title title--section">Вакансии</h1>
        <p class="jobs__desc">УралСтрой-ЖБИ — это коллектив специалистов, которые работают как единый организм. Присылайте свое резюме, чтобы присоединиться к нашей команде. Мы ждем профессионалов со свежими идеями и большими стремлениями!</p>
        <div id="responsiveTabsDemo">
          <ul class="reviews__tabs">
            <li>
              <a href="#tab-1">
                <div class="jobs__left">
                  <span class="jobs__name">Прораб</span>
                  <span class="jobs__price">от 50 000 ₽</span>
                </div>
                <div class="jobs__icon">
                  <svg>
                    <use xlink:href="img/sprites/sprite.svg#icob__jobs "></use>
                  </svg>
                </div>
              </a>
            </li>
            <li>
              <a href="#tab-2">
                <div class="jobs__left">
                  <span class="jobs__name">Бухгалтер-экономист</span>
                  <span class="jobs__price">от 150 000 ₽</span>
                </div>
                <div class="jobs__icon">
                  <svg>
                    <use xlink:href="img/sprites/sprite.svg#icob__jobs "></use>
                  </svg>
                </div>
              </a>
            </li>
          </ul>
          <div class="jobs__content" id="tab-1">
            <h2>Прораб</h2>
            <p>Питомник растений «Алексеевская Дубрава» приглашает на работу прораба на выполнение работ по благоустройству территорий.</p>
            <h3>Зарплата:</h3>
            <p>от 50 000 ₽</p>
            <h3>Должностные обязанности:</h3>
            <ol>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
            </ol>
            <h3>Требования:</h3>
            <ol>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
            </ol>
            <h3>Условия:</h3>
            <ol>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
            </ol>
            <a href="javascript://" class="jobs__button  button button--blue">Откликнуться на вакансию</a>
          </div>
          <div class="jobs__content" id="tab-2">
            <h2>Бухгалтер-экономист </h2>
            <p>Питомник растений «Алексеевская Дубрава» приглашает на работу прораба на выполнение работ по благоустройству территорий.</p>
            <h3>Зарплата:</h3>
            <p>от 150 000 ₽</p>
            <h3>Должностные обязанности:</h3>
            <ol>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
            </ol>
            <h3>Требования:</h3>
            <ol>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
            </ol>
            <h3>Условия:</h3>
            <ol>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
              <li>Осуществление сдачи объекта;</li>
            </ol>
            <a href="javascript://" class="jobs__button  button button--blue">Откликнуться на вакансию</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  //= "../blocks/callback/callback.html"
</main>
//= "../blocks/footer/footer.html"
//= "../blocks/modal/modal.html"
<script src="js/libs.js"></script>
<script src="js/general.js"></script>
</body>
</html>
