<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>УралСтрой-ЖБИ</title>
  <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png" data-mce-href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons//apple-touch-icon-60x60.png" data-mce-href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons//apple-touch-icon-72x72.png" data-mce-href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons//apple-touch-icon-76x76.png" data-mce-href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons//apple-touch-icon-114x114.png" data-mce-href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons//apple-touch-icon-120x120.png" data-mce-href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons//apple-touch-icon-144x144.png" data-mce-href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons//apple-touch-icon-152x152.png" data-mce-href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons//apple-touch-icon-180x180.png" data-mce-href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="../img/favicons//favicon-32x32.png" sizes="32x32" data-mce-href="/favicon-32x32.png">
  <link rel="icon" type="image/png" href="../img/favicons//android-chrome-192x192.png" sizes="192x192" data-mce-href="/android-chrome-192x192.png">
  <link rel="icon" type="image/png" href="../img/favicons//favicon-96x96.png" sizes="96x96" data-mce-href="/favicon-96x96.png">
  <link rel="icon" type="image/png" href="../img/favicons//favicon-16x16.png" sizes="16x16" data-mce-href="/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="../img/favicons//mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
//= "../blocks/header/header.html"
<main>
  <section class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="index.html">Главная</a></li>
      <li class="breadcrumbs__item"><a href="catalog.html">Каталог</a></li>
      <li class="breadcrumbs__item"><a href="catalog.html">Бордюры</a></li>
      <li class="breadcrumbs__item">Бордюр БР 100-30-15</li>
    </ul>
  </section>
  <div class="product section category">
    <h2 class="product__title section__title title title--section">Бордюры</h2>
    <a href="javascript://" class="product__back back">
      <span class="back__icon">
        <svg>
          <use xlink:href="img/sprites/sprite.svg#icon__back"></use>
        </svg>
      </span>
      <span class="back__text">Вернуться </span>
    </a>
    <div class="category__inner">
      <aside class="category__sidebar">
        <a href="catalog.html" class="category__header">Каталог</a>
        <ul class="category__list">
          <li class="category__item"><a href="category.html">Блоки фундаментальные ФБС</a></li>
          <li class="category__item category__item--current"><a href="category.html">Бордюры</a></li>
          <li class="category__item"><a href="category.html">Кирпич</a></li>
          <li class="category__item"><a href="category.html">Кольца колодезные</a></li>
          <li class="category__item"><a href="category.html">Лотки теплотрасс</a></li>
          <li class="category__item"><a href="category.html">Опорные подушки</a></li>
          <li class="category__item"><a href="category.html">Панели ограждений и фундамент</a></li>
          <li class="category__item"><a href="category.html">Перемычки жб брусковые-плитные</a></li>
          <li class="category__item"><a href="category.html">Перемычки ячеистые карамзитобетонные</a></li>
          <li class="category__item"><a href="category.html">Плиты днище колодца</a></li>
          <li class="category__item"><a href="category.html">Плиты дорожные</a></li>
          <li class="category__item"><a href="category.html">Плиты перекрытия камер</a></li>
          <li class="category__item"><a href="category.html">Плиты перекрытия колодцев</a></li>
          <li class="category__item"><a href="category.html">Плиты перекрытия ПБ и ПК</a></li>
          <li class="category__item"><a href="category.html">Приставки для деревянных опор</a></li>
          <li class="category__item"><a href="category.html">Сваи общестроительные</a></li>
          <li class="category__item"><a href="category.html">Стойки СВ</a></li>
          <li class="category__item"><a href="category.html">Ступени</a></li>
          <li class="category__item"><a href="category.html">Твинблок</a></li>
        </ul>
      </aside>
      <div class="product__content category__content">
        <h1 class="product__name">Бордюр БР 100-30-15</h1>
        <div class="product__inner">
          <div class="product__left">
            <ul class="product__slider">
              <li class="product__slide">
                <div class="product__img">
                  <img src="../img/cats__02.png">
                </div>
              </li>
              <li class="product__slide">
                <div class="product__img">
                  <img src="../img/cats__01.png">
                </div>
              </li>
            </ul>
            <button class="product__arrow product__arrow--prev">
              <svg>
                <use xlink:href="img/sprites/sprite.svg#icon__product-left"></use>
              </svg>
            </button>
            <button class="product__arrow product__arrow--next">
              <svg>
                <use xlink:href="img/sprites/sprite.svg#icon__product-right"></use>
              </svg>
            </button>
          </div>
          <div class="product__right">
            <span class="product__label product__label--have">В наличии</span>
            <ul class="product__options">
              <li class="product__option">Габариты, мм: 3000*1500*170</li>
              <li class="product__option">Объем, м3: 0.76</li>
              <li class="product__option">Вес, кг: 2000</li>
            </ul>
            <div class="product__prices">
              <span class="product__price">6 500 ₽</span>
              <span class="product__old-price">8 500 ₽</span>
            </div>
            <div class="product__order">
              <div class="product__counter">
                <button class="product__step product__step--min">
                  <svg>
                    <use xlink:href="img/sprites/sprite.svg#icon__min"></use>
                  </svg>
                </button>
                <input type="number" class="product__number" value="100">
                <button class="product__step product__step--max">
                  <svg>
                    <use xlink:href="img/sprites/sprite.svg#icon__max"></use>
                  </svg>
                </button>
              </div>
              <button class="product__send button button--blue">Заказать</button>
            </div>
            <a href="" class="product__question button button--transparent">Задать вопрос</a>
          </div>
        </div>
        <div class="product__info">
          <p>Компания ООО «УралСтрой-ЖБИ» предлагает купить по доступной цене кирпич. Керамический, силикатный, печной,бетонный – кирпич для любых целей с доставкой на объект!</p>
        </div>
        <div class="product__info product__info--hide">
          <p>Сегодня покупка кирпича не вызывает сложностей, чего нельзя сказать о выборе данного материала. На этой странице представлена исчерпывающая информация, которая поможет выбрать и купить кирпич, подходящий для ваших целей. Тип материала и его цена напрямую зависят от предполагаемого характера работ.</p>
        </div>
        <a href="javascript://" class="product__show">Показать еще</a>
        <p class="product__header">Похожие товары</p>
        <ul class="product__headers">
          <li class="product__head">Фото</li>
          <li class="product__head">Название</li>
          <li class="product__head">Габариты, мм</li>
          <li class="product__head">Объем, м3</li>
          <li class="product__head">Вес, кг</li>
          <li class="product__head">Цена</li>
          <li class="product__head">Купить</li>
        </ul>
        <ul class="product__list">
          <li class="product__item">
            <a href="product.html" class="product__image">
              <img src="../img/cats__01.png">
            </a>
            <div class="product__body">
              <div class="product__information">
                <a href="product.html" class="product__sub-name">БР 100-30-15	</a>
                <ul class="product__chars">
                  <li class="product__char">3000*300*150</li>
                  <li class="product__char">0,1</li>
                  <li class="product__char">0,043</li>
                </ul>
              </div>
              <div class="product__control">
                <span class="products__sub-price">6 500 ₽</span>
                <div class="product__button-wrapper">
                  <a href="javascript://" class="product__button">
                  <svg class="product__icon">
                    <use xlink:href="img/sprites/sprite.svg#icon__check"></use>
                  </svg>
                  <span>Заказать</span>
                </a>
                </div>
              </div>
            </div>
          </li>
          <li class="product__item">
            <a href="product.html" class="product__image">
              <img src="../img/cats__03.png">
            </a>
            <div class="product__body">
              <div class="product__information">
                <a href="product.html" class="product__sub-name">БР 100-30-15	</a>
                <ul class="product__chars">
                  <li class="product__char">3000*300*150</li>
                  <li class="product__char">0,1</li>
                  <li class="product__char">0,043</li>
                </ul>
              </div>
              <div class="product__control">
                <span class="products__sub-price">6 500 ₽</span>
                <div class="product__button-wrapper">
                  <a href="javascript://" class="product__button">
                  <svg class="product__icon">
                    <use xlink:href="img/sprites/sprite.svg#icon__check"></use>
                  </svg>
                  <span>Заказать</span>
                </a>
                </div>
              </div>
            </div>
          </li>
          <li class="product__item">
            <a href="product.html" class="product__image">
              <img src="../img/cats__04.png">
            </a>
            <div class="product__body">
              <div class="product__information">
                <a href="product.html" class="product__sub-name">БР 100-30-15	</a>
                <ul class="product__chars">
                  <li class="product__char">3000*300*150</li>
                  <li class="product__char">0,1</li>
                  <li class="product__char">0,043</li>
                </ul>
              </div>
              <div class="product__control">
                <span class="products__sub-price">6 500 ₽</span>
                <div class="product__button-wrapper">
                  <a href="javascript://" class="product__button">
                  <svg class="product__icon">
                    <use xlink:href="img/sprites/sprite.svg#icon__check"></use>
                  </svg>
                  <span>Заказать</span>
                </a>
                </div>
              </div>
            </div>
          </li>
          <li class="product__item">
            <a href="product.html" class="product__image">
              <img src="../img/cats__05.png">
            </a>
            <div class="product__body">
              <div class="product__information">
                <a href="product.html" class="product__sub-name">БР 100-30-15	</a>
                <ul class="product__chars">
                  <li class="product__char">3000*300*150</li>
                  <li class="product__char">0,1</li>
                  <li class="product__char">0,043</li>
                </ul>
              </div>
              <div class="product__control">
                <span class="products__sub-price">6 500 ₽</span>
                <div class="product__button-wrapper">
                  <a href="javascript://" class="product__button">
                  <svg class="product__icon">
                    <use xlink:href="img/sprites/sprite.svg#icon__check"></use>
                  </svg>
                  <span>Заказать</span>
                </a>
                </div>
              </div>
            </div>
          </li>
          <li class="product__item">
            <a href="product.html" class="product__image">
              <img src="../img/cats__06.png">
            </a>
            <div class="product__body">
              <div class="product__information">
                <a href="product.html" class="product__sub-name">БР 100-30-15	</a>
                <ul class="product__chars">
                  <li class="product__char">3000*300*150</li>
                  <li class="product__char">0,1</li>
                  <li class="product__char">0,043</li>
                </ul>
              </div>
              <div class="product__control">
                <span class="products__sub-price">6 500 ₽</span>
                <div class="product__button-wrapper">
                  <a href="javascript://" class="product__button">
                    <svg class="product__icon">
                      <use xlink:href="img/sprites/sprite.svg#icon__check"></use>
                    </svg>
                    <span>Заказать</span>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="product__item">
            <a href="product.html" class="product__image">
              <img src="../img/cats__10.png">
            </a>
            <div class="product__body">
              <div class="product__information">
                <a href="product.html" class="product__sub-name">БР 100-30-15	</a>
                <ul class="product__chars">
                  <li class="product__char">3000*300*150</li>
                  <li class="product__char">0,1</li>
                  <li class="product__char">0,043</li>
                </ul>
              </div>
              <div class="product__control">
                <span class="products__sub-price">6 500 ₽</span>
                <div class="product__button-wrapper">
                  <a href="javascript://" class="product__button">
                    <svg class="product__icon">
                      <use xlink:href="img/sprites/sprite.svg#icon__check"></use>
                    </svg>
                    <span>Заказать</span>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="product__item">
            <a href="product.html" class="product__image">
              <img src="../img/cats__09.png">
            </a>
            <div class="product__body">
              <div class="product__information">
                <a href="product.html" class="product__sub-name">БР 100-30-15	</a>
                <ul class="product__chars">
                  <li class="product__char">3000*300*150</li>
                  <li class="product__char">0,1</li>
                  <li class="product__char">0,043</li>
                </ul>
              </div>
              <div class="product__control">
                <span class="products__sub-price">6 500 ₽</span>
                <div class="product__button-wrapper">
                  <a href="javascript://" class="product__button">
                    <svg class="product__icon">
                      <use xlink:href="img/sprites/sprite.svg#icon__check"></use>
                    </svg>
                    <span>Заказать</span>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="product__item">
            <a href="product.html" class="product__image">
              <img src="../img/cats__08.png">
            </a>
            <div class="product__body">
              <div class="product__information">
                <a href="product.html" class="product__sub-name">БР 100-30-15	</a>
                <ul class="product__chars">
                  <li class="product__char">3000*300*150</li>
                  <li class="product__char">0,1</li>
                  <li class="product__char">0,043</li>
                </ul>
              </div>
              <div class="product__control">
                <span class="products__sub-price">6 500 ₽</span>
                <div class="product__button-wrapper">
                  <a href="javascript://" class="product__button">
                    <svg class="product__icon">
                      <use xlink:href="img/sprites/sprite.svg#icon__check"></use>
                    </svg>
                    <span>Заказать</span>
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <a href="javascript://" class="product__more category__more">Показать еще</a>
      </div>
    </div>
  </div>
  //= "../blocks/callback/callback.html"
</main>
//= "../blocks/footer/footer.html"
<script src="js/libs.js"></script>
<script src="js/general.js"></script>
</body>
</html>
