<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>УралСтрой-ЖБИ</title>
  <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png" data-mce-href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons//apple-touch-icon-60x60.png" data-mce-href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons//apple-touch-icon-72x72.png" data-mce-href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons//apple-touch-icon-76x76.png" data-mce-href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons//apple-touch-icon-114x114.png" data-mce-href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons//apple-touch-icon-120x120.png" data-mce-href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons//apple-touch-icon-144x144.png" data-mce-href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons//apple-touch-icon-152x152.png" data-mce-href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons//apple-touch-icon-180x180.png" data-mce-href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="../img/favicons//favicon-32x32.png" sizes="32x32" data-mce-href="/favicon-32x32.png">
  <link rel="icon" type="image/png" href="../img/favicons//android-chrome-192x192.png" sizes="192x192" data-mce-href="/android-chrome-192x192.png">
  <link rel="icon" type="image/png" href="../img/favicons//favicon-96x96.png" sizes="96x96" data-mce-href="/favicon-96x96.png">
  <link rel="icon" type="image/png" href="../img/favicons//favicon-16x16.png" sizes="16x16" data-mce-href="/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="../img/favicons//mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
//= "../blocks/header/header.html"
<main>
  <section class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item"><a href="index.html">Главная</a></li>
      <li class="breadcrumbs__item">Реквизиты компании</li>
    </ul>
  </section>
  <section class="about section">
    <aside class="about__sidebar">
      <p class="about__header about__header--mobile">Реквизиты компании</p>
      <div class="about__menu-wrapper">
        <p class="about__header about__header--active about__header--company">Компания</p>
        <ul class="about__menu about__menu--company">
          <li class="about__menu-item"><a href="about.html">О компании</a></li>
          <li class="about__menu-item "><a href="reviews.html">Отзывы и благодарности</a></li>
          <li class="about__menu-item"><a href="javascript://">Вакансии</a></li>
          <li class="about__menu-item"><a href="javascript://">Сертификаты</a></li>
          <li class="about__menu-item about__menu-item--active"><a href="requisites.html">Реквизиты</a></li>
          <li class="about__menu-item"><a href="javascript://">Контакты</a></li>
        </ul>
        <p class="about__header about__header--active about__header--clients">Клиентам</p>
        <ul class="about__menu about__menu--clients">
          <li class="about__menu-item"><a href="javascript://">Оплата и доставка</a></li>
          <li class="about__menu-item"><a href="javascript://">Вопросы и ответы</a></li>
        </ul>
      </div>
    </aside>
    <div class="about__content">
      <div class="requisites">
        <h1 class="requisites__title section__title title title--section">Реквизиты компании</h1>
        <div class="requisites__row">
          <div class="requisites__col requisites__col--first">
            <p class="requisites__name">ОГРН</p>
            <p class="requisites__text">32429874923</p>
            <p class="requisites__text">от 18 апреля 2014г.</p>
          </div>
          <div class="requisites__col">
            <p class="requisites__name">ИНН/КПП</p>
            <p class="requisites__text">8729398923978</p>
            <p class="requisites__text">324890483298429</p>
          </div>
        </div>
        <div class="requisites__row">
          <div class="requisites__col requisites__col--first">
            <p class="requisites__name">Дата регистрации</p>
            <p class="requisites__text">05.04.2017</p>
            <p class="requisites__text"><a href="">Все реквизиты</a></p>
          </div>
          <div class="requisites__col">
            <p class="requisites__name">ОГРН/ОКПО</p>
            <p class="requisites__text">4543453421234</p>
            <p class="requisites__text">4645647364</p>
          </div>
        </div>
        <div class="requisites__row requisites__row--reverse requisites__row--mobile">
          <div class="requisites__col">
            <p class="requisites__name">Руководитель</p>
            <p class="requisites__text"><span>Директор</span></p>
            <p class="requisites__text">Попова Анна Юрьевна</p>
          </div>
          <div class="requisites__col">
            <p class="requisites__name">Юридический адрес</p>
            <p class="requisites__text">Россия, Свердловская обл., г. Екатеринбург, ул. Базовый пер. 45</p>
          </div>
        </div>
        <div class="requisites__row requisites__row--mobile">
          <div class="requisites__col">
            <div class="requisites__wrapper">
              <p class="requisites__name">Контакты</p>
              <div class="requisites__row">
                <div class="requisites__col requisites__col--first">
                  <p class="requisites__text"><span>Телефон</span></p>
                  <p class="requisites__text">+7 (343) 876-78-98</p>
                  <p class="requisites__text"><a href="">Показать на карте</a></p>
                </div>
                <div class="requisites__col">
                  <p class="requisites__text"><span>Почта</span></p>
                  <p class="requisites__text">info@zavod.ru</p>
                </div>
              </div>
            </div>
          </div>
          <div class="requisites__col">
            <p class="requisites__name">Скачать реквизиты</p>
            <a href="" class="requisites__download">
              <svg class="requisites__icon">
                <use xlink:href="img/sprites/sprite.svg#icon__download"></use>
              </svg>
              <span>Отчет в PDF</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  //= "../blocks/callback/callback.html"
</main>
//= "../blocks/footer/footer.html"
<script src="js/libs.js"></script>
<script src="js/general.js"></script>
</body>
</html>
